<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        .imagesize {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
    <script type="text/javascript">
        function get_data(value){
            alert(value)
            $.ajax({
                    url:'/org/'+value,
                    type:'POST',
                    success:function(response) {
                        console.log(response);
                     },
                     error:function(error) {
                        console.log(error);
                     }
                });
        }

        function showupdate() {

        }

    </script>
</head>
<body>
    {% block body %}

    {% endblock %}

</body>
</html>