{%extends 'Base.html' %}

{% block body%}
<form action="/search" method="POST" id="Search">
    <select name="searchcriteria">
        <option value="Country">Country</option>
        <!--<option value="Program">Program</option>-->
        <option value="Organization">University</option>
        <option value="Degree">Degree</option>
        <option value="Continent">Continent</option>
    </select>
    <input type="search" name="searchitem"/>
    <input type="submit">
</form>

{% autoescape false %}

{% for pgrm in programs %}
<div onclick="getdata({{ pgrm.org }})">
    ------------------------------------- <br>
    {{ pgrm.org }}
    <img src="{{url_for('static', filename= pgrm.logo)}}" class ="imagesize" align="right" ALT="your logo goes here"/><br><br>
    {{ pgrm.addr }}<br><br>
    {{ pgrm.urls }}<br><br>
    {{ pgrm.contacts }}<br><br>
    {{ pgrm.degrees }}<br><br>
</div>
{% endfor %}
{% endautoescape %}

{% endblock %}