{%extends 'Base.html' %}

{% block body%}
<form action="/search" method="POST" id="Search">
    <select name="searchcriteria">
        <option value="Country">Country</option>
        <!--<option value="Program">Program</option>-->
        <option value="Organization">University</option>
        <option value="Degree">Degree</option>
        <option value="Continent">Continent</option>
    </select>
    <input type="search" name="searchitem"/>
    <input type="submit">
</form>

{% autoescape false %}

{% for pgrm in programs %}
    ------------------------------------- <br>
    {{ pgrm.org }}
    {% if pgrm.logo != '' %}
        <img src="{{url_for('static', filename= pgrm.logo)}}" width="150" height="100" align="right" ALT="your logo goes here"/>
    <!--&lt;!&ndash;{% else %}&ndash;&gt;-->
        <!--<img src="{{url_for('static', filename='blank.jpg')}}" width="150" height="100" align="right"/>-->
    {% endif %} <br><br>
    {{ pgrm.addr }}<br><br>
    {{ pgrm.urls }}<br><br>
    {{ pgrm.contacts }}<br><br>
    {{ pgrm.degrees }}<br><br>

{% endfor %}
{% endautoescape %}



{% endblock %}